:root {
  --bg: linear-gradient(180deg, #0d1117 0%, #161b22 100%);
  --card-bg: linear-gradient(180deg, #1a1f27 0%, #202833 100%);
  --text: #ffffff;
  --text-muted: #9ba1ae;
  --border-line: rgba(128, 128, 128, 0.278);
  --accent: #ff9f3f;
}

body {
  background: var(--bg) fixed no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  color: white;
}

header {
  display: flex;
  flex-direction: rows;
  padding: 12px;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-line) 0.5px solid;
  margin-bottom: 8px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--text);
}

img {
  border-radius: 8px;
}

label {
  font-size: 20px;
  color: var(--text);
}

select,
input {
  position: relative;
  padding: 12px;
  border-radius: 8px;
  margin: 8px 8px;
}

option {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.app-identity {
  display: flex;
  flex-direction: rows;
  margin-left: 0;
  gap: 16px;
}

.app-name {
  margin-top: 20px;
}

.app-logo {
  width: 60px;
  height: 60px;
  margin: 16px 0px 0px 16px;
}

.user-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  gap: 32px;
}

.search-icon,
.profile-pic {
  width: 48px;
}

.search-bar {
  position: relative;
  margin-top: 24px;
  margin-left: 32px;
}

.podcast-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 40px;
}

.text-muted {
  color: var(--text-muted);
  font-size: 14px;
}

.pod-cover {
  width: 216px;
}
